  <div class="main-container container mt-6 py-4">
    <div class="row">

      {# Sidebar #}
      {% include 'components/sidebar/sidebar.html.twig' %}

      {# Result #}
      <div class="col-md-9 col-xl-9 px-6">
        <div id="comp_async"></div>
      </div>
    </div>
  </div>
