<div class="container-fluid hero-main-section bg-primary p-3">
  <div class="container d-flex w-100 justify-content-between">
    <img class="img-logo" id="btn-home" srcset="{{ asset('build/images/logo_white.svg') }}">
    <span class="h5 text-white mr-5 mb-0">Components</span>
  </div>
</div>