  <div class="search-form">
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="term-search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="submit-search"><span class="icon icon-search"></span></button>
      </div>
    </div>
  </div>