// Variables
// $gray-100: #f8f9fa
// $gray-300: #dee2e6
// $primary: #c83200

.dropdown {

  .card {
    border-radius: $dropdown-border-radius;
  }

  .card-header {
    background: $gray-100;
    border-bottom: 0px;
  }

  .header-titles>.row>div {
    padding-left: 0px;
    padding-right: 0px;
  }

  .accordion .card {
    border: 0px;
  }

  .accordion {

    .card-header {
      cursor: pointer;

      &:after {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\ea0b";
        float: right;
        color: $primary;
        font-size: 1rem;
        margin-left: 1rem;
      }
    }

  }

  .accordion .card-header.collapsed:after {
    content: "\ea0a";
  }

  .dd-divider {
    border-top: 1px solid $gray-300 !important;
  }

}