.sidebar {

    @include media-breakpoint-up(md) {
        border-right: 1px solid $gray-300;
        position: -webkit-sticky;
        position: sticky;
        top: 5.5rem;
        z-index: 1000;
        height: calc(100vh - 7rem);
    }

    .single-component-list {
        overflow-y: auto;
        max-height: 30vh;
        border-top: 1px solid $gray-300;

        @include media-breakpoint-up(md) {
            max-height: calc(100vh - 9rem);
        }

        .single-component {
            text-transform: lowercase;
            margin-bottom: .5rem;
            font-weight: 500;

            &::first-letter {
                text-transform: uppercase;
            }

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}