<div class="sidebar col-md-3 col-xl-3">
  {% include 'site-components/search-form/search-form.html.twig' %}

  <div class="single-component-list mt-4 px-3 py-3">
    {% for key, component in list %}
      <div class="single-component">
        <a href="#" id="comp-{{key}}" data-name="{{component}}">{{component}}</a>
      </div>
    {% endfor %}
  </div>
</div>